.hidden {
  display: inline-block;
  width: auto;
  background-color: green;
  color: red;
  margin-bottom: 30px;
}

.navbar{
  width: 100%;
}

.section-div {
  background: linear-gradient(90deg, rgba(122,125,125,1) 16%, rgba(86,82,84,1) 100%);
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  margin:0px;
  text-align:center
}
.welcome-div {
  padding-top: 100px;
  padding-bottom: 150px;
  height: 100%;
  margin:0px;
  text-align:center

}

.welcome-header{
  color: white;
  font-size: 100px;
  /* height:30%; */
}
/* .box { background-color: white; border-radius: 6px; box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8; color: #141c3a; display: block; padding: 1.25rem; } */

.box-image{
  width: 10%;
}

.box-figure{
  padding-top:20px;
}

.column-style{

  border-width: 10px;
  border-style: solid;
  border-color:red;
}

.box-caption{
  margin-top:10px;
  font-size: 20px
}

.footer-text{
  color:white;
}

.list-group{

}

.card{
  background-size: cover !important;
  width: 100%;
}

.col{
  /* width:100% ; */
  margin-left: 20%;
  /* height: 100%; */
}
.left{
    padding-left: 20%;
}

.test{
  background-image: url('Images/stocklife.jpeg'); object-position: -30px,-30%;
}

.myspec{
  width: 60%;
}
.mycontain{
  text-align: center;
}

ul{
  display: table;
  margin-left:20%;
}
h1{
  color:#eef1ea;
}

hr {

  border-top: 2px solid #937e6c;
  margin:0px;
  /* background-color:#557A95 */
}

html {
    scroll-behavior: smooth;
}


#About{
  display:inline-block;
  height: 100%;
  width:100%;
  /* text-align:center */
}
