body {
  background-color: #faf9f9;
  margin:0;

}
p{
  margin-top: 0;
}

hr {
  border-top: 2px dashed #488b8f;

}

.link:hover {
  font-size: 130%;
}

.header {
  background-color: #5ea3a3;
  border-bottom-style:solid;
  border-width: 2px;
  position: relative;

}
.header-text{
  color: black;

}

.header-text:hover{
  color: red;
}


.footer{
  background-color:#add2c9;
  height: 100px;
  border-style: dotted none none;
  border-width: .7px;
}

.footer-text{
  color: blue;

}

.work-pictures{
  height: 100px;
  width: 130px;
  border-radius: 50%;
}
