.hidden {
  display: block;
  width: auto;
  background-color: #414141;
  color: #414141;
  margin-bottom: 40px;

}

.no-margin{
  margin:0px auto 0px auto;
}

.box-image{
  width: 10%;
}


.navbar-custom {
  background-color: #414141;
  border-color: #E7E7E7;
}

.center {
  /* border: 5px solid #FFFF00; */
  display: flex;
  justify-content: center;
  }
/* 
##############################################################################

                                    Welcome

##############################################################################  
} */
.welcome-header{
  font-family: 'Krona One', sans-serif;
  color: #a3aaad;
  font-size:2em;
}

.section-header{
  color: #dadbce;
  
  font-family: 'Open Sans', sans-serif;
}
.profile-pic{
  width: 18%;
  /* float: left; */
  /* margin-left:50%; */
  /* center the image */
  
  /* margin-right:10px; */
  margin-top:10px;
  /* TODO- CHANGE THIS VALUE */
  /* margin-top: 20px;  */
  
  object-fit:cover;
  border-radius:50%;

}
.profile-text{
  padding:0 0 6%;
  margin: 0 10% 0;
  margin-right: 20%;
  padding-top:0%;
  text-indent:40px;

}


.project-text{
  color:#404040;
  font-size:1.4em;
}
.footer-logo-div{

}

.footer-logo{
  width: 50px;
  padding-top:1%;
  padding-bottom:1%;
  margin-right:20px;
  transition: transform .2s; /* Animation */
}

.footer-logo:hover{
  transform: scale(1.2);
}
.footer-links-div{
  padding-left: 120px;
}
.footer-links{
  display: inline-block;
  /* margin-right:1%; */
  padding-right: 10px;
  padding-bottom:10px;
  font-size:1.2em;
}

.footer-gap{
  display: inline-block;
  margin-right:1%;
  margin-left:1%;
  font-size:1.3em;
  padding-right: 10px;
}

/* 
##############################################################################

                                    IDs

##############################################################################  
} */

/* colorizing each paragraph */
#About p{
  color:#FFF8F0;
  font-size:1.7em;

}
#Skills p{
  color:#b5b5b5;
  font-size:1.4em;
}
/* #Projects p{
  color:red;footer-links
  font-size:1.4em;
} */


/* referenced by ID */
#About{
  background-color: #B6A99A;

}
#Skills{
  background-color: #FFCEB2;
}
#Projects{
  background-color:#FFB3A7;
}


p{
/* color:blue; */
}
figcaption{
  color:black;
  text-decoration: underline;
  font-size:1.2em;
}

h6{
  line-height:175%;
  color:#4f4f4f;
  font-size:1.2em;
}

hr{
  border-top: 2px solid #937e6c;
  margin:0px;
}
body{
  background-color: #414141;
}

html{
  background-color: #414141;
}

@media only screen and (max-width: 990px) {
/* controling the profile picture in about */
.profile-text{
  padding-bottom:2%;
  margin-left: 20%;
  margin-right: 10%;
}
.profile-pic{
  width: 35%;
}
  }

@media only screen and (max-width: 660px) {
  .footer-links-div{
padding-left: 0;
  }
  .footer-logo-div{
    padding-left: 0;
    padding-top: 7px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .profile-text{
    text-align: center;
    padding-bottom:2%;
    margin-left: 0%;
    margin-right: 0%;
    text-indent: 5px;
  }
  .profile-pic{
    width: 80%;
  }
}
